<!-- Add your content of header -->
{{!-- <div class="background-color-layer" style="background-image: url('assets/images/img-01.jpg')"
></div> --}}
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>Andy Berger</h1>
      <p>Software developer</p>
      <p>
        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/davrosh" title="">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://github.com/Davrosh" title="">
          <i class="fa fa-github"></i>
        </a>

      </p>
    </div>
  </header>


